@import "tailwindcss";

@theme {
  --color-primary-50: #fdf8f6;
  --color-primary-100: #f2e8e5;
  --color-primary-200: #eaddd7;
  --color-primary-300: #e0cec7;
  --color-primary-400: #d2bab0;
  --color-primary-500: #a18072;
  --color-primary-600: #977669;
  --color-primary-700: #846358;
  --color-primary-800: #43302b;
  --color-primary-900: #291814;
  --color-primary-950: #1a0f0c;
}

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
}

@keyframes blob {
  0% { transform: translate(0px, 0px) scale(1); }
  33% { transform: translate(30px, -50px) scale(1.1); }
  66% { transform: translate(-20px, 20px) scale(0.9); }
  100% { transform: translate(0px, 0px) scale(1); }
}

@utility animate-blob {
  animation: blob 7s infinite;
}

body {
  @apply bg-slate-50 text-slate-900 font-sans antialiased;
}
